.bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.step1 { background-image: url('/img/001.png'); }
.step2 { background-image: url('/img/002.png'); }
.step3 { background-image: url('/img/003.png'); }
.step4 { background-image: url('/img/004.png'); }
.step5 { background-image: url('/img/005.png'); }
.step6 { background-image: url('/img/001.png'); }
.step7 { background-image: url('/img/001.png'); }
.step8 { background-image: url('/img/001.png'); }
.step9 { background-image: url('/img/001.png'); }
.step10 { background-image: url('/img/001.png'); }
.step11 { background-image: url('/img/001.png'); }
.step12 { background-image: url('/img/001.png'); }