.bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.step1 { background-image: url('/img/001.webp'); }
.step2 { background-image: url('/img/002.webp'); }
.step3 { background-image: url('/img/003.webp'); }
.step4 { background-image: url('/img/004.webp'); }
.step5 { background-image: url('/img/005.webp'); }
.step6 { background-image: url('/img/006.webp'); }
.step7 { background-image: url('/img/007.webp'); }
.step8 { background-image: url('/img/008.webp'); }
.step9 { background-image: url('/img/009.webp'); }
.step10 { background-image: url('/img/010.webp'); }
.step11 { background-image: url('/img/011.webp'); }
.step12 { background-image: url('/img/012.webp'); }
.step13 { background-image: url('/img/013.webp'); }
.step14 { background-image: url('/img/014.webp'); }
.step15 { background-image: url('/img/015.webp'); }
.step16 { background-image: url('/img/016.webp'); }
.step17 { background-image: url('/img/017.webp'); }
.step18 { background-image: url('/img/018.webp'); }
.step19 { background-image: url('/img/019.webp'); }
.step20 { background-image: url('/img/020.webp'); }
.step21 { background-image: url('/img/021.webp'); }
.step22 { background-image: url('/img/022.webp'); }
.step23 { background-image: url('/img/023.webp'); }
.step24 { background-image: url('/img/024.webp'); }
