.bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.step1 { background-image: url('/img/001.webp'); }
.step2 { background-image: url('/img/002.webp'); }
.step3 { background-image: url('/img/003.webp'); }
.step4 { background-image: url('/img/004.webp'); }
.step5 { background-image: url('/img/005.webp'); }
.step6 { background-image: url('/img/006.webp'); }
.step7 { background-image: url('/img/007.webp'); }
.step8 { background-image: url('/img/008.webp'); }
.step9 { background-image: url('/img/009.webp'); }
.step10 { background-image: url('/img/010.webp'); }
